.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.screen {
    position: absolute;
    /*
    border-style: solid;
    border-width: 2px;
    */
    padding: 2%;
    width: 100%;
    height: 100%;
    /*background-color: black;*/
    color: greenyellow;
}

.topRow {
    position: absolute;
    /*
    border-style: solid;
    border-color: red;
    border-width: 2px;
    */
    width: 96%;
    height: 10%;
}

.gameArea {
    position: absolute;
    /*
    border-style: solid;
    border-color: green;
    border-width: 2px;
    */
    width: 96%;
    height: 68%;
    top: 14%;
    text-align: center;
}

.bottomRow {
    position: absolute;
    /*
    border-style: solid;
    border-color: gray;
    border-width: 2px;
    */
    width: 96%;
    height: 16%;
    top: 82%;
}

.card1Pos {
    top: 0%;
    left: 0%;
}
.card2Pos {
    top: 0%;
    left: 20%;
}
.chamberPos {
    top: 0%;
    left: 40%;
}
.card3Pos {
    top: 0%;
    left: 60%;
}
.card4Pos {
    top: 0%;
    left: 80%;
}

.charInfo {
    position: absolute;
    /*border-style: solid;
    border-color: aqua;
    border-width: 3px;*/
    width: 20%;
    height: 100%;
    text-align: right;
    font-size: xx-large;
    font-family: Expletus Sans;
    font-weight: bolder;
}

.chamberInfo {
}

.percentageBar {
    font-size: xx-large;
    font-family: Expletus Sans;
    font-weight: bolder !important;
    color: greenyellow !important;
}

.matchInfo {
    position: absolute;

    /*
    border-style: solid;
    border-color: darkblue;
    */
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: xx-large;
    font-family: Expletus Sans;
    font-weight: bolder;
}

.bottomInfo {
    position: absolute;
    /*border-style: solid;
    border-color: bisque;
    border-width: 3px;*/
    height: 100%;
    text-align: right;
    font-size: xx-large;
    font-family: Expletus Sans;
    font-weight: bolder;
}

